<div class="user-details">
  <h1> About me </h1>
  <p> Born in Torre del Greco(Naples) in 1998, I have been passionate about technology since I was a kid.
    </br>I'm currently attending a Computer Sciences degree at the University of Naples Federico II and currently
    working on my Bachelor's degree dissertation.
    Looking forward to further explore Artificial Intelligence as well as Data Science.</p>
</div>
<div class="user-details">
  <h1>My Skills</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <i class="devicon-python-plain colored"></i>
    <p>My main development languages are Java and C but I also use Python and Bash, mainly to automate tasks.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
</div>