<div class="user-details">
  <h1> About me </h1>
  <p> Born in Torre del Greco(Naples) in 1998, I have been passionate about technology since I was a kid.
    </br>I'm currently attending a Computer Sciences Bachelor's degree at the University of Naples Federico II.</p>
</div>
<div class="user-details">
  <h1>My Skills</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <i class="devicon-python-plain colored"></i>
    <p>My main development languages are Java, C and SQL. 
      I also use Python and Bash, usually to automate repetitive and/or long tasks.
  
    </p>
  </div>
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-amazonwebservices-original colored"></i>
    <i class="fa fa-database"></i>
    <i class="devicon-android-plain colored"></i>
    <p>I worked on both back-end and front end:
      on the back-end designing system architecture and writing the code itself,<br>
      on the front end, creating layout with Android Studio, JavaFx or Scene Builder.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-ubuntu-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>I mainly work on Linux and my usual setup is Ubuntu, Git and Visual Studio.<br>
      I also use Android Studio and Netbeans when I'm developing applications for Android or Desktops respectively.
    </p>
  </div>

</div>